/* pagination */

.paging {
  display: flex;
  justify-content: space-between;
}

.paging, .pagination {
  font-family: var(--font-european);
  margin-top: 2rem;
}

.paging a, .pagination a {
  text-decoration: none;
}

/* layout */


.blog-feature .blog-post:first-child .excerpt {
  border: none;
  padding: 0rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: var(--surface);
}

.blog-feature .blog-post:first-child .excerpt p {
  font-size: var(--fontsize-5);
  line-height: var(--line-height);
}

.blog-feature .blog-post:first-child .excerpt .meta {
  margin-top: .5rem;
}






/* content */

.youtube-video {
  width: 60%;
  margin: 2rem auto;
  aspect-ratio: 16/9;
}

.youtube-video iframe {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 640px) {
  .youtube-video {
    width: 100%;
  }
}


.song-title {
  text-align: center;
  font-family: var(--font-european);
  font-size: var(--fontsize-2);
}

.lyrics {
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
  color: var(--gray30);
}

#lyrics  {
  padding: 0;
  line-height: var(--line-height-tight);
  font-family: var(--font-european);
  overflow-x: hidden;
  overflow-y: hidden;
  background: inherit;
}

#lyrics .odd-line {
  font-size: var(--fontsize-4);
  color: var(--gray30);
}

#lyrics .even-line {
  font-size: var(--fontsize-6);
  color: var(--gray60);
}

#lyrics .even-line.nbsp {
  display: none;
}

#lyrics .even-line {
  display: none;
}

/* toggle switch */

input {
  border: 1px solid #0c0c0d4d;
  display: inline-block;
  margin: 0 4px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none; 
  background: #0c0c0d1a;
  border-radius: 8px;
  height: 16px; 
  width: 32px;
}

input[type="checkbox"]::before {
  background: var(--gray30);
  border-radius: 6px;
  content: "";
  display: inline-block;
  height: 12px;
  margin-left: 1px;
  margin-top: 1px;
  transition: background-color 0.3s;
  width: 12px;
}

input[type="checkbox"]:checked::before {
  background: #fff;
  margin-left: 17px;
}

input[type="checkbox"]:checked {
  background: var(--accent);
}

input[type="checkbox"]:checked ~ #lyrics p.even-line {
  display: block;
}



.source {
  text-align: center;
  padding-bottom: 1rem;
}

.posts {
  text-align: center;
  color: var(--gray60);
  margin-top: 0;
  margin-right: 2rem;
}


/* @media screen and (max-width: 640px) {
  footer {
    border-top: 2px solid var(--gray30);
  }
  
} */